<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item  ">
      <a class="nav-link" href="/">
        <i class="material-icons">dashboard</i>
        <p>Home</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="shop">
        <i class="material-icons">shopping_cart</i>
        <p>Shop</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="users">
        <i class="material-icons">person</i>
        <p>Users</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="questions">
        <i class="material-icons">content_paste</i>
        <p>Questions</p>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="lottery">
        <i class="material-icons">filter_tilt_shift</i>
        <p>Lottery</p>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="tokens">
        <i class="material-icons">filter_none</i>
        <p>Ad Tokens</p>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="">
        <i class="material-icons">settings_applications</i>
        <p>Quiz Options</p>
      </a>
    </li>

  </ul>
</div>
