<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item  ">
      <a class="nav-link" href="/">
        <i class="material-icons">dashboard</i>
        <p>Home</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="./user.html">
        <i class="material-icons">person</i>
        <p>Users</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="questions">
        <i class="material-icons">content_paste</i>
        <p>Questions</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="./typography.html">
        <i class="material-icons">settings_applications</i>
        <p>Quiz Options</p>
      </a>
    </li>



  </ul>
</div>
